/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
#adm_users .user {
  border: 2px solid #ffffff;
  padding: 10px 10px 20px 10px;
  transition: all 0.4s linear;
  margin-bottom: 30px;
}

#adm_users .user:hover {
  background: #E8E8E8;
  border-color: #989898;
}

#adm_users .row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  flex-wrap: wrap;
}

#adm_users .row > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

.edit_user .new_user .sign_in{
    font-size: medium;
}

body {
    padding-top: 40px;
}